/* Header Start */

header{

}

.container{
	width: 80%;
	margin:0 auto;
	/* border: 1px solid red; */
	overflow: hidden;
}


.logo{
	float: left;
	width: 15%;
	/* border: 1px solid green; */
}


.logo img{
width: 100%;
}

.menu{
float: left;
width: 50%;
/* border: 1px solid black; */

}



.menu ul{

 /* overflow: hidden ; */
 float:left ;

}

.menu ul li {
	list-style: none;
	float: left;
}

.menu ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
    color: #2A2841;
}

.h_btn{
	float: right;
    width: 15%;
    /* border: 1px solid blue; */
        margin-top: 10px;
}

.h_btn button {
    width: 100%;
    height: 45px;
    font-size: 17px;
    background: #FF6162;
    color: white;
    font-family: sans-serif;
    border-radius: 4px;
    font-weight: 700;
    border: 1px solid transparent;
}

.h_btn button:hover{
	background: transparent;
	border: 1px solid #FF6162;
	color: #2A2841;
}	



/* Header end */

/* Banner section */


.banner{
	padding: 100px 0;

}

.banner-section {
	overflow: hidden;


}

 .b-left {
    float: left;
    width: 45%;
    /* border: 1px solid black; */
}

.b-right {
	float: right;
width: 50%;
/* border: 1px solid green; */
}

.b-right img{
	width: 100%;
}

.b-left h1 {
    font-size: 50px;
    color: #2A2841;
    line-height: 65px;
}
.b-left p{
	font-size: 20px;
	color: #81929D;


}

.b-left i {
    font-size: 32px;
    color: #81929D;
}

.b-left button {
    background: transparent;
    border: none;
}	

/* Banner section */


/* protfolio section start */

.portfolio {
	padding: 100px 0;
}

.container-fluid {
	width: 100%;

}

.p-contant {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}
.protfolio-img {
	width: 100%;
	overflow: hidden;



}

.p-contant p{
	font-style: italic;
	color: #81929D ;
}

.s-img {
    width: 22%;
    display: inline-block;
    padding-right: 3.76%;

}



.s-img img{
	width: 100%;
	box-shadow: 5px 5px 5px 5px #F5F5F5;
}

.s-img p{
	text-align: center;
	
}


.s-img:nth-child(4){
  padding-right: 0;
}






/* protfolio section end*/



/* features */

.Features {
	padding: 100px 0;
	overflow: hidden;

}


.c_features {
	/* border: 1px solid black; */
	overflow: hidden;

}


.f_single {
    float: left;
    width: 30%;
    /* border: 1px solid red; */
    text-align: center;
    padding: 25px 12PX;
    background-color: #F5F5F5;
    margin: 8px;
    border-radius: 8px;
}



.f_single i{
	height: 50px;
	width: 50px;
	color: #FF6162;
	font-size: 25px;
	background-color:white ;
    border-radius: 50%;
    line-height: 50px;
}

.f_single p{
	color:#81929D ;
}

footer{
	padding: 60px 0;
	background: #292640;
}

.footer-content {
	color: white;
	text-align: center;
	width: 25%;
	margin: 0 auto;
}

.footer-content h2{
	color: white;
}
.footer-content p{
	color: #615E72
;
}
.footer-content button{
	width: 50%;
    height: 50px;
    font-size: 16px;
    background: #FF6162;
    color: white;
    font-family: sans-serif;
    border-radius: 4px;
    font-weight: 700;
    border: 1px solid transparent;
}


.footer-content button:hover{
	background: transparent;
	border: 1px solid #FF6162;

}